<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Title</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row">
        <a th:href = "@{/stud/add}" class="btn btn-primary btn-lg" role="button">add</a>
        <br/>
        <table class="table">
            <tr>
                <th>Stud Name</th>
                <th>Stud First</th>
            </tr>
            <tr th:each = "stud : ${studs}">
                <td th:text = "${stud.studName}">test</td>
                <td th:text = "${stud.first}">test</td>
                <td> <a th:href = "@{'/stud/deletestud?id='+${stud.id}}">delete</a></td>
                <td> <a th:href = "@{'/stud/updateStud?id='+${stud.id}}">update</a></td>
            </tr>
        </table>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>